In [64]:
import os, findspark

#  Spark 4.0.1
os.environ["SPARK_HOME"] = "/opt/spark-4.0.1-bin-hadoop3"
os.environ["PATH"] = os.path.join(os.environ["SPARK_HOME"], "bin") + ":" + os.environ["PATH"]


findspark.init("/opt/spark-4.0.1-bin-hadoop3")

# create Spark Session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("JobPostingsAnalysis").getOrCreate()

In [65]:
# Load CSV file into Spark DataFrame

df = (
    spark.read
        .option("header", "true")
        .option("inferSchema", "true")
        .option("multiLine", "true")
        .option("escape", "\"")
        .csv("../data/lightcast_job_postings.csv")
)

In [66]:
from pyspark.sql import functions as F

# Remove rows with missing SALARY
df = df.filter(F.col("SALARY").isNotNull())

# Remove duplicates based on key job-identifying fields
df = df.dropDuplicates(
    subset=[
        "CITY_NAME",
        "COUNTY_NAME",
        "STATE_NAME",
        "TITLE_CLEAN",
        "COMPANY_RAW",
        "POSTED"
    ]
)


print("Rows after cleaning:", df.count())

Rows after cleaning: 30613

In [67]:
from pyspark.sql import functions as F

df = df.withColumn(
    "EMPLOYMENT_TYPE_NAME",
    F.when(F.col("EMPLOYMENT_TYPE_NAME").like("%Part-time / full-time%"), "Flexible")
     .when(F.col("EMPLOYMENT_TYPE_NAME").like("%Full-time%"), "Full-time")
     .when(F.col("EMPLOYMENT_TYPE_NAME").like("%Part-time%"), "Part-time")
     .otherwise(None)
)

In [68]:
from pyspark.sql import functions as F

df = df.withColumn(
    "EDUCATION_LEVELS_NAME",
    F.regexp_replace(F.col("EDUCATION_LEVELS_NAME"), r"[\\[\\]\"]", "")
)

df = df.withColumn(
    "EDUCATION_LEVELS_NAME",
    F.when(F.col("EDUCATION_LEVELS_NAME").rlike("PhD|Doctorate|Professional"), "PhD")
     .when(F.col("EDUCATION_LEVELS_NAME").rlike("Master"), "Master")
     .when(F.col("EDUCATION_LEVELS_NAME").rlike("Bachelor"), "Bachelor")
     .when(F.col("EDUCATION_LEVELS_NAME").rlike("Associate|GED|No Education Listed|High School"),
           "Associate or Lower")
     .otherwise("Other")
)

In [69]:
from pyspark.sql import functions as F

df = df.withColumn(
    "REMOTE_TYPE_NAME",
    F.when(F.col("REMOTE_TYPE_NAME").like("%Hybrid%"), "Hybrid")
     .when(F.col("REMOTE_TYPE_NAME").like("%Remote%"), "Remote")
     .otherwise("Onsite")
)

In [70]:
from pyspark.sql import functions as F

# Step 1: compute median
median_value = df.approxQuantile("MIN_YEARS_EXPERIENCE", [0.5], 0.01)[0]

# Step 2: fill missing with median
df = df.withColumn(
    "MIN_YEARS_EXPERIENCE",
    F.when(F.col("MIN_YEARS_EXPERIENCE").isNull(), median_value)
     .otherwise(F.col("MIN_YEARS_EXPERIENCE"))
)

In [71]:
df.show(5)
len(df.columns)

+--------------------+-----------------+----------------------+----------+--------+----------+--------+--------------------+--------------------+--------------------+-----------+-------------------+---------+--------------------+---------------+----------------+--------+------------------+--------------------+-------------------+----------------+---------------------+-------------+-------------------+-------------+------------------+---------------+--------------------+--------------------+--------------------+-------------+------+-----------+----------------+-------------------+---------+-----------+--------------------+--------------------+--------------------+------+--------------+-----+--------------------+-----+----------+---------------+--------------------+---------------+--------------------+------------+--------------------+------------+--------------------+------+--------------------+------+--------------------+------+--------------------+------+--------------------+------+--------------------+------------------+------------+-----------+--------------------+--------------------+--------------------+-----------------------+--------------+-------------------+--------------------+--------------------+--------------------+--------------------+----------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+--------------------+----------+--------------------+----------+---------------+----------+---------------+---------------+--------------------+--------------+--------------------+--------------------------+-------------------------------+--------------------+-------------------------+-----------------------------+----------------------------------+-----------------+----------------------+-----------------------+----------------------------+------------------+-----------------------+-------+--------------------+-------+--------------------+-------+---------------+-------+---------------+-----------------+----------------------+------------+--------------------+------------+--------------------+------------+--------------------+------------+--------------------+------------+--------------------+
|                  ID|LAST_UPDATED_DATE|LAST_UPDATED_TIMESTAMP|DUPLICATES|  POSTED|   EXPIRED|DURATION|        SOURCE_TYPES|             SOURCES|                 URL|ACTIVE_URLS|ACTIVE_SOURCES_INFO|TITLE_RAW|                BODY|MODELED_EXPIRED|MODELED_DURATION| COMPANY|      COMPANY_NAME|         COMPANY_RAW|COMPANY_IS_STAFFING|EDUCATION_LEVELS|EDUCATION_LEVELS_NAME|MIN_EDULEVELS| MIN_EDULEVELS_NAME|MAX_EDULEVELS|MAX_EDULEVELS_NAME|EMPLOYMENT_TYPE|EMPLOYMENT_TYPE_NAME|MIN_YEARS_EXPERIENCE|MAX_YEARS_EXPERIENCE|IS_INTERNSHIP|SALARY|REMOTE_TYPE|REMOTE_TYPE_NAME|ORIGINAL_PAY_PERIOD|SALARY_TO|SALARY_FROM|            LOCATION|                CITY|           CITY_NAME|COUNTY|   COUNTY_NAME|  MSA|            MSA_NAME|STATE|STATE_NAME|COUNTY_OUTGOING|COUNTY_NAME_OUTGOING|COUNTY_INCOMING|COUNTY_NAME_INCOMING|MSA_OUTGOING|   MSA_NAME_OUTGOING|MSA_INCOMING|   MSA_NAME_INCOMING|NAICS2|         NAICS2_NAME|NAICS3|         NAICS3_NAME|NAICS4|         NAICS4_NAME|NAICS5|         NAICS5_NAME|NAICS6|         NAICS6_NAME|             TITLE|  TITLE_NAME|TITLE_CLEAN|              SKILLS|         SKILLS_NAME|  SPECIALIZED_SKILLS|SPECIALIZED_SKILLS_NAME|CERTIFICATIONS|CERTIFICATIONS_NAME|       COMMON_SKILLS|  COMMON_SKILLS_NAME|     SOFTWARE_SKILLS|SOFTWARE_SKILLS_NAME|      ONET|           ONET_NAME| ONET_2019|      ONET_2019_NAME|                CIP6|           CIP6_NAME|                CIP4|           CIP4_NAME|                CIP2|           CIP2_NAME|SOC_2021_2|     SOC_2021_2_NAME|SOC_2021_3|     SOC_2021_3_NAME|SOC_2021_4|SOC_2021_4_NAME|SOC_2021_5|SOC_2021_5_NAME|LOT_CAREER_AREA|LOT_CAREER_AREA_NAME|LOT_OCCUPATION| LOT_OCCUPATION_NAME|LOT_SPECIALIZED_OCCUPATION|LOT_SPECIALIZED_OCCUPATION_NAME|LOT_OCCUPATION_GROUP|LOT_OCCUPATION_GROUP_NAME|LOT_V6_SPECIALIZED_OCCUPATION|LOT_V6_SPECIALIZED_OCCUPATION_NAME|LOT_V6_OCCUPATION|LOT_V6_OCCUPATION_NAME|LOT_V6_OCCUPATION_GROUP|LOT_V6_OCCUPATION_GROUP_NAME|LOT_V6_CAREER_AREA|LOT_V6_CAREER_AREA_NAME|  SOC_2|          SOC_2_NAME|  SOC_3|          SOC_3_NAME|  SOC_4|     SOC_4_NAME|  SOC_5|     SOC_5_NAME|LIGHTCAST_SECTORS|LIGHTCAST_SECTORS_NAME|NAICS_2022_2|   NAICS_2022_2_NAME|NAICS_2022_3|   NAICS_2022_3_NAME|NAICS_2022_4|   NAICS_2022_4_NAME|NAICS_2022_5|   NAICS_2022_5_NAME|NAICS_2022_6|   NAICS_2022_6_NAME|
+--------------------+-----------------+----------------------+----------+--------+----------+--------+--------------------+--------------------+--------------------+-----------+-------------------+---------+--------------------+---------------+----------------+--------+------------------+--------------------+-------------------+----------------+---------------------+-------------+-------------------+-------------+------------------+---------------+--------------------+--------------------+--------------------+-------------+------+-----------+----------------+-------------------+---------+-----------+--------------------+--------------------+--------------------+------+--------------+-----+--------------------+-----+----------+---------------+--------------------+---------------+--------------------+------------+--------------------+------------+--------------------+------+--------------------+------+--------------------+------+--------------------+------+--------------------+------+--------------------+------------------+------------+-----------+--------------------+--------------------+--------------------+-----------------------+--------------+-------------------+--------------------+--------------------+--------------------+--------------------+----------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+--------------------+----------+--------------------+----------+---------------+----------+---------------+---------------+--------------------+--------------+--------------------+--------------------------+-------------------------------+--------------------+-------------------------+-----------------------------+----------------------------------+-----------------+----------------------+-----------------------+----------------------------+------------------+-----------------------+-------+--------------------+-------+--------------------+-------+---------------+-------+---------------+-----------------+----------------------+------------+--------------------+------------+--------------------+------------+--------------------+------------+--------------------+------------+--------------------+
|05fc7c3bd51d70fe9...|        10/9/2024|  2024-10-09 18:07:...|        27|6/8/2024|  9/5/2024|    NULL|[\n  "Job Board",...|[\n  "simplyhired...|[\n  "https://www...|         []|               NULL|     NULL|If you want to di...|       7/4/2024|              26|36167532|      Saint-Gobain|        Saint-Gobain|              false|       [\n  0\n]|   Associate or Lower|            0| High school or GED|         NULL|              NULL|              1|           Full-time|                 5.0|                NULL|        false| 39520|          0|          Onsite|               hour|    39520|      39520|{\n  "lat": 33.65...|SHVudGluZ3RvbiBCZ...|Huntington Beach, CA|  6059|    Orange, CA|31080|Los Angeles-Long ...|    6|California|           6059|          Orange, CA|           6059|          Orange, CA|       31080|Los Angeles-Long ...|       31080|Los Angeles-Long ...|    31|       Manufacturing|   339|Miscellaneous Man...|  3399|Other Miscellaneo...| 33999|All Other Miscell...|339999|All Other Miscell...|ET0000000000000000|Unclassified|       NULL|[\n  "KS124DX6G31...|[\n  "Warehousing...|[\n  "KS124DX6G31...|   [\n  "Warehousing...|            []|                 []|[\n  "ESE15CC456B...|[\n  "Strong Work...|                  []|                  []|15-2051.01|Business Intellig...|15-2051.01|Business Intellig...|                  []|                  []|                  []|                  []|                  []|                  []|   15-0000|Computer and Math...|   15-2000|Mathematical Scie...|   15-2050|Data Scientists|   15-2051|Data Scientists|             11|Business Manageme...|        111110|Business / Manage...|                  11111012|           Business Analyst ...|                1111|        Business Analysis|                     11111012|              Business Analyst ...|           111110|  Business / Manage...|                   1111|           Business Analysis|                11|   Business Manageme...|15-0000|Computer and Math...|15-2000|Mathematical Scie...|15-2050|Data Scientists|15-2051|Data Scientists|             NULL|                  NULL|          31|       Manufacturing|         339|Miscellaneous Man...|        3399|Other Miscellaneo...|       33999|All Other Miscell...|      339999|All Other Miscell...|
|b70802112cd40e499...|        6/17/2024|   2024-06-17 07:00:00|         0|5/5/2024| 5/18/2024|      13| [\n  "Recruiter"\n]|[\n  "motionrecru...|[\n  "https://mot...|         []|               NULL|  Unknown|Data Quality Anal...|      5/18/2024|              13|35752865|Motion Recruitment|Motion Recruitmen...|               true| [\n  2,\n  3\n]|               Master|            2|  Bachelor's degree|            3|   Master's degree|              1|           Full-time|                 8.0|                NULL|        false|142480|          0|          Onsite|               hour|   147680|     137280|{\n  "lat": 39.66...|TmV3IENhc3RsZSwgREU=|      New Castle, DE| 10003|New Castle, DE|37980|Philadelphia-Camd...|   10|  Delaware|          10003|      New Castle, DE|          10003|      New Castle, DE|       37980|Philadelphia-Camd...|       37980|Philadelphia-Camd...|    56|Administrative an...|   561|Administrative an...|  5611|Office Administra...| 56111|Office Administra...|561110|Office Administra...|ET0000000000000000|Unclassified|       NULL|[\n  "KS121CY5X6B...|[\n  "Capital Mar...|[\n  "KS121CY5X6B...|   [\n  "Capital Mar...|            []|                 []|[\n  "KS1218W78FG...|[\n  "Management"...|[\n  "KS1200H6XYN...|[\n  "Microsoft E...|15-2051.01|Business Intellig...|15-2051.01|Business Intellig...|                  []|                  []|                  []|                  []|                  []|                  []|   15-0000|Computer and Math...|   15-2000|Mathematical Scie...|   15-2050|Data Scientists|   15-2051|Data Scientists|             23|Information Techn...|        231113|Data / Data Minin...|                  23111311|           Data Quality Analyst|                2311|     Data Analysis and...|                     23111311|              Data Quality Analyst|           231113|  Data / Data Minin...|                   2311|        Data Analysis and...|                23|   Information Techn...|15-0000|Computer and Math...|15-2000|Mathematical Scie...|15-2050|Data Scientists|15-2051|Data Scientists|             NULL|                  NULL|          56|Administrative an...|         561|Administrative an...|        5611|Office Administra...|       56111|Office Administra...|      561110|Office Administra...|
|f526aad67a67e440f...|        10/9/2024|  2024-10-09 18:07:...|         0|9/7/2024| 10/5/2024|      28| [\n  "Recruiter"\n]|[\n  "motionrecru...|[\n  "https://mot...|         []|               NULL|     NULL|Staffing Executio...|      10/5/2024|              28|35752865|Motion Recruitment|Motion Recruitmen...|               true|      [\n  99\n]|   Associate or Lower|           99|No Education Listed|         NULL|              NULL|              1|           Full-time|                 5.0|                NULL|        false| 91520|          0|          Onsite|               hour|    95680|      87360|{\n  "lat": 30.33...|SmFja3NvbnZpbGxlL...|    Jacksonville, FL| 12031|     Duval, FL|27260|    Jacksonville, FL|   12|   Florida|          12031|           Duval, FL|          12031|           Duval, FL|       27260|    Jacksonville, FL|       27260|    Jacksonville, FL|    56|Administrative an...|   561|Administrative an...|  5611|Office Administra...| 56111|Office Administra...|561110|Office Administra...|ET0000000000000000|Unclassified|       NULL|[\n  "KS1280B68GD...|[\n  "Presentatio...|[\n  "KS123YH6YZ1...|   [\n  "Financial P...|            []|                 []|[\n  "KS1280B68GD...|[\n  "Presentatio...|                  []|                  []|15-2051.01|Business Intellig...|15-2051.01|Business Intellig...|                  []|                  []|                  []|                  []|                  []|                  []|   15-0000|Computer and Math...|   15-2000|Mathematical Scie...|   15-2050|Data Scientists|   15-2051|Data Scientists|             23|Information Techn...|        231010|Business Intellig...|                  23101013|            SAP Analyst / Admin|                2310|     Business Intellig...|                     23101013|               SAP Analyst / Admin|           231010|  Business Intellig...|                   2310|        Business Intellig...|                23|   Information Techn...|15-0000|Computer and Math...|15-2000|Mathematical Scie...|15-2050|Data Scientists|15-2051|Data Scientists|             NULL|                  NULL|          56|Administrative an...|         561|Administrative an...|        5611|Office Administra...|       56111|Office Administra...|      561110|Office Administra...|
|8d35d02e7d72ed079...|       10/26/2024|  2024-10-26 13:32:...|         2|8/7/2024|10/25/2024|    NULL| [\n  "Recruiter"\n]|[\n  "motionrecru...|[\n  "https://mot...|         []|               NULL|     NULL|Lead SAP Business...|      8/26/2024|              19|35752865|Motion Recruitment|Motion Recruitmen...|               true|       [\n  2\n]|             Bachelor|            2|  Bachelor's degree|         NULL|              NULL|              1|           Full-time|                 8.0|                   8|        false|150000|          1|          Remote|               year|   155000|     145000|{\n  "lat": 41.86...|Rm9yZXN0IFBhcmssIElM|     Forest Park, IL| 17031|      Cook, IL|16980|Chicago-Napervill...|   17|  Illinois|          17031|            Cook, IL|          17031|            Cook, IL|       16980|Chicago-Napervill...|       16980|Chicago-Napervill...|    56|Administrative an...|   561|Administrative an...|  5611|Office Administra...| 56111|Office Administra...|561110|Office Administra...|ET0000000000000000|Unclassified|       NULL|[\n  "ES4F3066B29...|[\n  "SAP S/4HANA...|[\n  "ES4F3066B29...|   [\n  "SAP S/4HANA...|            []|                 []|[\n  "KS1227V6WBR...|[\n  "Information...|[\n  "ES4F3066B29...|[\n  "SAP S/4HANA...|15-2051.01|Business Intellig...|15-2051.01|Business Intellig...|[\n  "11.0103",\n...|[\n  "Information...|[\n  "11.01",\n  ...|[\n  "Computer an...|[\n  "11",\n  "11...|[\n  "Computer an...|   15-0000|Computer and Math...|   15-2000|Mathematical Scie...|   15-2050|Data Scientists|   15-2051|Data Scientists|             23|Information Techn...|        231010|Business Intellig...|                  23101013|            SAP Analyst / Admin|                2310|     Business Intellig...|                     23101013|               SAP Analyst / Admin|           231010|  Business Intellig...|                   2310|        Business Intellig...|                23|   Information Techn...|15-0000|Computer and Math...|15-2000|Mathematical Scie...|15-2050|Data Scientists|15-2051|Data Scientists|             NULL|                  NULL|          56|Administrative an...|         561|Administrative an...|        5611|Office Administra...|       56111|Office Administra...|      561110|Office Administra...|
|540f1134d9edeb0f3...|         7/5/2024|  2024-07-05 13:36:...|         0|5/5/2024|  7/4/2024|    NULL| [\n  "Recruiter"\n]|[\n  "motionrecru...|[\n  "https://mot...|         []|               NULL|  Unknown|Oracle ERP Consul...|       7/4/2024|            NULL|35752865|Motion Recruitment|Motion Recruitmen...|               true|       [\n  2\n]|             Bachelor|            2|  Bachelor's degree|         NULL|              NULL|              1|           Full-time|                 3.0|                NULL|        false| 92500|          1|          Remote|               year|   100000|      85000|{\n  "lat": 39.11...|S2Fuc2FzIENpdHksIEtT|     Kansas City, KS| 20209| Wyandotte, KS|28140|  Kansas City, MO-KS|   20|    Kansas|          20209|       Wyandotte, KS|          20209|       Wyandotte, KS|       28140|  Kansas City, MO-KS|       28140|  Kansas City, MO-KS|    56|Administrative an...|   561|Administrative an...|  5611|Office Administra...| 56111|Office Administra...|561110|Office Administra...|ET0000000000000000|Unclassified|       NULL|[\n  "KS4407G738T...|[\n  "Ledgers (Ac...|[\n  "KS4407G738T...|   [\n  "Ledgers (Ac...|            []|                 []|                  []|                  []|[\n  "KS127HT6PY6...|[\n  "PL/SQL",\n ...|15-2051.01|Business Intellig...|15-2051.01|Business Intellig...|   [\n  "11.0701"\n]|[\n  "Computer Sc...|     [\n  "11.07"\n]|[\n  "Computer Sc...|        [\n  "11"\n]|[\n  "Computer an...|   15-0000|Computer and Math...|   15-2000|Mathematical Scie...|   15-2050|Data Scientists|   15-2051|Data Scientists|             23|Information Techn...|        231010|Business Intellig...|                  23101012|           Oracle Consultant...|                2310|     Business Intellig...|                     23101012|              Oracle Consultant...|           231010|  Business Intellig...|                   2310|        Business Intellig...|                23|   Information Techn...|15-0000|Computer and Math...|15-2000|Mathematical Scie...|15-2050|Data Scientists|15-2051|Data Scientists|             NULL|                  NULL|          56|Administrative an...|         561|Administrative an...|        5611|Office Administra...|       56111|Office Administra...|      561110|Office Administra...|

131

In [72]:
df.printSchema()

root
 |-- ID: string (nullable = true)
 |-- LAST_UPDATED_DATE: string (nullable = true)
 |-- LAST_UPDATED_TIMESTAMP: timestamp (nullable = true)
 |-- DUPLICATES: integer (nullable = true)
 |-- POSTED: string (nullable = true)
 |-- EXPIRED: string (nullable = true)
 |-- DURATION: integer (nullable = true)
 |-- SOURCE_TYPES: string (nullable = true)
 |-- SOURCES: string (nullable = true)
 |-- URL: string (nullable = true)
 |-- ACTIVE_URLS: string (nullable = true)
 |-- ACTIVE_SOURCES_INFO: string (nullable = true)
 |-- TITLE_RAW: string (nullable = true)
 |-- BODY: string (nullable = true)
 |-- MODELED_EXPIRED: string (nullable = true)
 |-- MODELED_DURATION: integer (nullable = true)
 |-- COMPANY: integer (nullable = true)
 |-- COMPANY_NAME: string (nullable = true)
 |-- COMPANY_RAW: string (nullable = true)
 |-- COMPANY_IS_STAFFING: boolean (nullable = true)
 |-- EDUCATION_LEVELS: string (nullable = true)
 |-- EDUCATION_LEVELS_NAME: string (nullable = false)
 |-- MIN_EDULEVELS: integer (nullable = true)
 |-- MIN_EDULEVELS_NAME: string (nullable = true)
 |-- MAX_EDULEVELS: integer (nullable = true)
 |-- MAX_EDULEVELS_NAME: string (nullable = true)
 |-- EMPLOYMENT_TYPE: integer (nullable = true)
 |-- EMPLOYMENT_TYPE_NAME: string (nullable = true)
 |-- MIN_YEARS_EXPERIENCE: double (nullable = true)
 |-- MAX_YEARS_EXPERIENCE: integer (nullable = true)
 |-- IS_INTERNSHIP: boolean (nullable = true)
 |-- SALARY: integer (nullable = true)
 |-- REMOTE_TYPE: integer (nullable = true)
 |-- REMOTE_TYPE_NAME: string (nullable = false)
 |-- ORIGINAL_PAY_PERIOD: string (nullable = true)
 |-- SALARY_TO: integer (nullable = true)
 |-- SALARY_FROM: integer (nullable = true)
 |-- LOCATION: string (nullable = true)
 |-- CITY: string (nullable = true)
 |-- CITY_NAME: string (nullable = true)
 |-- COUNTY: integer (nullable = true)
 |-- COUNTY_NAME: string (nullable = true)
 |-- MSA: integer (nullable = true)
 |-- MSA_NAME: string (nullable = true)
 |-- STATE: integer (nullable = true)
 |-- STATE_NAME: string (nullable = true)
 |-- COUNTY_OUTGOING: integer (nullable = true)
 |-- COUNTY_NAME_OUTGOING: string (nullable = true)
 |-- COUNTY_INCOMING: integer (nullable = true)
 |-- COUNTY_NAME_INCOMING: string (nullable = true)
 |-- MSA_OUTGOING: integer (nullable = true)
 |-- MSA_NAME_OUTGOING: string (nullable = true)
 |-- MSA_INCOMING: integer (nullable = true)
 |-- MSA_NAME_INCOMING: string (nullable = true)
 |-- NAICS2: integer (nullable = true)
 |-- NAICS2_NAME: string (nullable = true)
 |-- NAICS3: integer (nullable = true)
 |-- NAICS3_NAME: string (nullable = true)
 |-- NAICS4: integer (nullable = true)
 |-- NAICS4_NAME: string (nullable = true)
 |-- NAICS5: integer (nullable = true)
 |-- NAICS5_NAME: string (nullable = true)
 |-- NAICS6: integer (nullable = true)
 |-- NAICS6_NAME: string (nullable = true)
 |-- TITLE: string (nullable = true)
 |-- TITLE_NAME: string (nullable = true)
 |-- TITLE_CLEAN: string (nullable = true)
 |-- SKILLS: string (nullable = true)
 |-- SKILLS_NAME: string (nullable = true)
 |-- SPECIALIZED_SKILLS: string (nullable = true)
 |-- SPECIALIZED_SKILLS_NAME: string (nullable = true)
 |-- CERTIFICATIONS: string (nullable = true)
 |-- CERTIFICATIONS_NAME: string (nullable = true)
 |-- COMMON_SKILLS: string (nullable = true)
 |-- COMMON_SKILLS_NAME: string (nullable = true)
 |-- SOFTWARE_SKILLS: string (nullable = true)
 |-- SOFTWARE_SKILLS_NAME: string (nullable = true)
 |-- ONET: string (nullable = true)
 |-- ONET_NAME: string (nullable = true)
 |-- ONET_2019: string (nullable = true)
 |-- ONET_2019_NAME: string (nullable = true)
 |-- CIP6: string (nullable = true)
 |-- CIP6_NAME: string (nullable = true)
 |-- CIP4: string (nullable = true)
 |-- CIP4_NAME: string (nullable = true)
 |-- CIP2: string (nullable = true)
 |-- CIP2_NAME: string (nullable = true)
 |-- SOC_2021_2: string (nullable = true)
 |-- SOC_2021_2_NAME: string (nullable = true)
 |-- SOC_2021_3: string (nullable = true)
 |-- SOC_2021_3_NAME: string (nullable = true)
 |-- SOC_2021_4: string (nullable = true)
 |-- SOC_2021_4_NAME: string (nullable = true)
 |-- SOC_2021_5: string (nullable = true)
 |-- SOC_2021_5_NAME: string (nullable = true)
 |-- LOT_CAREER_AREA: integer (nullable = true)
 |-- LOT_CAREER_AREA_NAME: string (nullable = true)
 |-- LOT_OCCUPATION: integer (nullable = true)
 |-- LOT_OCCUPATION_NAME: string (nullable = true)
 |-- LOT_SPECIALIZED_OCCUPATION: integer (nullable = true)
 |-- LOT_SPECIALIZED_OCCUPATION_NAME: string (nullable = true)
 |-- LOT_OCCUPATION_GROUP: integer (nullable = true)
 |-- LOT_OCCUPATION_GROUP_NAME: string (nullable = true)
 |-- LOT_V6_SPECIALIZED_OCCUPATION: integer (nullable = true)
 |-- LOT_V6_SPECIALIZED_OCCUPATION_NAME: string (nullable = true)
 |-- LOT_V6_OCCUPATION: integer (nullable = true)
 |-- LOT_V6_OCCUPATION_NAME: string (nullable = true)
 |-- LOT_V6_OCCUPATION_GROUP: integer (nullable = true)
 |-- LOT_V6_OCCUPATION_GROUP_NAME: string (nullable = true)
 |-- LOT_V6_CAREER_AREA: integer (nullable = true)
 |-- LOT_V6_CAREER_AREA_NAME: string (nullable = true)
 |-- SOC_2: string (nullable = true)
 |-- SOC_2_NAME: string (nullable = true)
 |-- SOC_3: string (nullable = true)
 |-- SOC_3_NAME: string (nullable = true)
 |-- SOC_4: string (nullable = true)
 |-- SOC_4_NAME: string (nullable = true)
 |-- SOC_5: string (nullable = true)
 |-- SOC_5_NAME: string (nullable = true)
 |-- LIGHTCAST_SECTORS: string (nullable = true)
 |-- LIGHTCAST_SECTORS_NAME: string (nullable = true)
 |-- NAICS_2022_2: integer (nullable = true)
 |-- NAICS_2022_2_NAME: string (nullable = true)
 |-- NAICS_2022_3: integer (nullable = true)
 |-- NAICS_2022_3_NAME: string (nullable = true)
 |-- NAICS_2022_4: integer (nullable = true)
 |-- NAICS_2022_4_NAME: string (nullable = true)
 |-- NAICS_2022_5: integer (nullable = true)
 |-- NAICS_2022_5_NAME: string (nullable = true)
 |-- NAICS_2022_6: integer (nullable = true)
 |-- NAICS_2022_6_NAME: string (nullable = true)

In [73]:
columns_to_drop = [
    "ID", "URL", "ACTIVE_URLS", "DUPLICATES", "LAST_UPDATED_TIMESTAMP",
    "NAICS2", "NAICS3", "NAICS4", "NAICS5", "NAICS6",
    "SOC_2", "SOC_3", "SOC_4", "SOC_5",
    "NAICS_2022_2", "NAICS_2022_3","NAICS_2022_4","NAICS_2022_5",
    "NAICS_2022_2_NAME","NAICS_2022_3_NAME","NAICS_2022_4_NAME","NAICS_2022_5_NAME",
    "SOC_5_NAME","SOC_4_NAME","SOC_3_NAME","SOC_2_NAME",
    "NAICS2_NAME","NAICS3_NAME","NAICS4_NAME","NAICS5_NAME",
    "LAST_UPDATED_DATE","EXPIRED","DURATION",    # date variables are not related to our topic 
    "MODELED_EXPIRED","MODELED_DURATION","MODELED_EXPIRED",
    "COMPANY", "TITLE", "SKILLS",                  # remove numerical COMPANY
    "MAX_EDULEVELS","MAX_EDULEVELS_NAME",
    "EMPLOYMENT_TYPE","REMOTE_TYPE", "EMPLOYMENT_TYPE",     # remove numerical EMPLOYMENT_TYPE, REMOTE_TYPE, keeping the text version
    "LOCATION", "CITY","COUNTY","MSA","STATE", 
    "MSA_NAME", "COUNTY_NAME_OUTGOING", "COUNTY_NAME_INCOMING", "MSA_NAME_OUTGOING", "MSA_NAME_INCOMING",   
    "COUNTY_OUTGOING","COUNTY_INCOMING", "MSA_OUTGOING", "MSA_INCOMING",         # LOCATION contains latitude and longitude coordinates, CITY ontains encoded strings instead of actual city names 
    "EDUCATION_LEVELS", "MIN_EDULEVELS",  # encoded strings instead of actual EDUCATION_LEVELS, we keep EDUCATION_LEVELS_NAME. MIN_EDULEVELS contains number 
    "SPECIALIZED_SKILLS", "CERTIFICATIONS", "COMMON_SKILLS", "SOFTWARE_SKILLS",    # encoded strings
    "SOC_2021_2", "SOC_2021_2_NAME", "SOC_2021_3", "SOC_2021_3_NAME", "SOC_2021_5", "SOC_2021_5_NAME",
    "LOT_CAREER_AREA", "LOT_OCCUPATION", "LOT_SPECIALIZED_OCCUPATION", "LOT_OCCUPATION_GROUP","LOT_V6_SPECIALIZED_OCCUPATION", "LOT_V6_CAREER_AREA", "LOT_V6_OCCUPATION_GROUP",  
    "ACTIVE_SOURCES_INFO", "MAX_YEARS_EXPERIENCE", "LIGHTCAST_SECTORS", "LIGHTCAST_SECTORS_NAME", "ORIGINAL_PAY_PERIOD",   # missing values >50%
    "SOURCE_TYPES", "SOURCES", "BODY", 
    "COMPANY_NAME", "TITLE_NAME",  #keep  COMPANY_RAW and TITLE_CLEAN (simplified version)
    "ONET", "ONET_2019","CIP6", "CIP4", "CIP2",       # numerical 
    "CIP6_NAME","CIP4_NAME","CIP2_NAME",     # remove zipcode-related variables, we keep location name from state to county
    
] 

df = df.drop(*columns_to_drop)

In [74]:
df.show(5)

len(df.columns)

+---------+---------+--------------------+-------------------+---------------------+-------------------+--------------------+--------------------+-------------+------+----------------+---------+-----------+--------------------+--------------+----------+--------------------+-----------+--------------------+-----------------------+-------------------+--------------------+--------------------+--------------------+--------------------+----------+---------------+--------------------+--------------------+-------------------------------+-------------------------+----------------------------------+-----------------+----------------------+----------------------------+-----------------------+------------+--------------------+
|   POSTED|TITLE_RAW|         COMPANY_RAW|COMPANY_IS_STAFFING|EDUCATION_LEVELS_NAME| MIN_EDULEVELS_NAME|EMPLOYMENT_TYPE_NAME|MIN_YEARS_EXPERIENCE|IS_INTERNSHIP|SALARY|REMOTE_TYPE_NAME|SALARY_TO|SALARY_FROM|           CITY_NAME|   COUNTY_NAME|STATE_NAME|         NAICS6_NAME|TITLE_CLEAN|         SKILLS_NAME|SPECIALIZED_SKILLS_NAME|CERTIFICATIONS_NAME|  COMMON_SKILLS_NAME|SOFTWARE_SKILLS_NAME|           ONET_NAME|      ONET_2019_NAME|SOC_2021_4|SOC_2021_4_NAME|LOT_CAREER_AREA_NAME| LOT_OCCUPATION_NAME|LOT_SPECIALIZED_OCCUPATION_NAME|LOT_OCCUPATION_GROUP_NAME|LOT_V6_SPECIALIZED_OCCUPATION_NAME|LOT_V6_OCCUPATION|LOT_V6_OCCUPATION_NAME|LOT_V6_OCCUPATION_GROUP_NAME|LOT_V6_CAREER_AREA_NAME|NAICS_2022_6|   NAICS_2022_6_NAME|
+---------+---------+--------------------+-------------------+---------------------+-------------------+--------------------+--------------------+-------------+------+----------------+---------+-----------+--------------------+--------------+----------+--------------------+-----------+--------------------+-----------------------+-------------------+--------------------+--------------------+--------------------+--------------------+----------+---------------+--------------------+--------------------+-------------------------------+-------------------------+----------------------------------+-----------------+----------------------+----------------------------+-----------------------+------------+--------------------+
|5/18/2024|  Unknown|Motion Recruitmen...|               true|   Associate or Lower|No Education Listed|           Full-time|                 6.0|        false|125000|          Onsite|   140000|     110000|         Phoenix, AZ|  Maricopa, AZ|   Arizona|Office Administra...|       NULL|[\n  "BigQuery",\...|   [\n  "BigQuery",\...|                 []|[\n  "Data Report...|[\n  "BigQuery",\...|Business Intellig...|Business Intellig...|   15-2050|Data Scientists|Information Techn...|Business Intellig...|           Business Intellig...|     Business Intellig...|              Business Intellig...|           231010|  Business Intellig...|        Business Intellig...|   Information Techn...|      561110|Office Administra...|
|5/24/2024|  Unknown|Motion Recruitmen...|               true|   Associate or Lower|No Education Listed|           Full-time|                 5.0|        false|109200|          Hybrid|   124800|      93600|       San Diego, CA| San Diego, CA|California|Office Administra...|       NULL|[\n  "Research",\...|   [\n  "Stakeholder...|                 []|[\n  "Research",\...|[\n  "Geographic ...|Business Intellig...|Business Intellig...|   15-2050|Data Scientists|Business Manageme...|Business / Manage...|           Business Analyst ...|        Business Analysis|              Business Analyst ...|           111110|  Business / Manage...|           Business Analysis|   Business Manageme...|      561110|Office Administra...|
| 6/8/2024|     NULL|        Saint-Gobain|              false|   Associate or Lower| High school or GED|           Full-time|                 5.0|        false| 39520|          Onsite|    39520|      39520|Huntington Beach, CA|    Orange, CA|California|All Other Miscell...|       NULL|[\n  "Warehousing...|   [\n  "Warehousing...|                 []|[\n  "Strong Work...|                  []|Business Intellig...|Business Intellig...|   15-2050|Data Scientists|Business Manageme...|Business / Manage...|           Business Analyst ...|        Business Analysis|              Business Analyst ...|           111110|  Business / Manage...|           Business Analysis|   Business Manageme...|      339999|All Other Miscell...|
| 5/5/2024|  Unknown|Motion Recruitmen...|               true|               Master|  Bachelor's degree|           Full-time|                 8.0|        false|142480|          Onsite|   147680|     137280|      New Castle, DE|New Castle, DE|  Delaware|Office Administra...|       NULL|[\n  "Capital Mar...|   [\n  "Capital Mar...|                 []|[\n  "Management"...|[\n  "Microsoft E...|Business Intellig...|Business Intellig...|   15-2050|Data Scientists|Information Techn...|Data / Data Minin...|           Data Quality Analyst|     Data Analysis and...|              Data Quality Analyst|           231113|  Data / Data Minin...|        Data Analysis and...|   Information Techn...|      561110|Office Administra...|
| 9/7/2024|     NULL|Motion Recruitmen...|               true|   Associate or Lower|No Education Listed|           Full-time|                 5.0|        false| 91520|          Onsite|    95680|      87360|    Jacksonville, FL|     Duval, FL|   Florida|Office Administra...|       NULL|[\n  "Presentatio...|   [\n  "Financial P...|                 []|[\n  "Presentatio...|                  []|Business Intellig...|Business Intellig...|   15-2050|Data Scientists|Information Techn...|Business Intellig...|            SAP Analyst / Admin|     Business Intellig...|               SAP Analyst / Admin|           231010|  Business Intellig...|        Business Intellig...|   Information Techn...|      561110|Office Administra...|
+---------+---------+--------------------+-------------------+---------------------+-------------------+--------------------+--------------------+-------------+------+----------------+---------+-----------+--------------------+--------------+----------+--------------------+-----------+--------------------+-----------------------+-------------------+--------------------+--------------------+--------------------+--------------------+----------+---------------+--------------------+--------------------+-------------------------------+-------------------------+----------------------------------+-----------------+----------------------+----------------------------+-----------------------+------------+--------------------+
only showing top 5 rows

38

In [75]:
from pyspark.sql import functions as F

total_rows = df.count()

exprs = [
    F.sum(F.when(F.col(c).isNull(), 1).otherwise(0)).alias(c)
    for c in df.columns
]

missing_row = df.agg(*exprs).collect()[0].asDict()

missing_stats = [(col, missing_row[col], missing_row[col] / total_rows)
                 for col in df.columns]

missing_df = spark.createDataFrame(
    missing_stats,
    ["column", "missing_count", "missing_ratio"]
)

missing_df.orderBy("missing_ratio", ascending=False).show(60)

+--------------------+-------------+--------------------+
|              column|missing_count|       missing_ratio|
+--------------------+-------------+--------------------+
|         COMPANY_RAW|          226|0.007382484565380...|
|         TITLE_CLEAN|           51|0.001665958906346...|
|           TITLE_RAW|           23|7.513148009015778E-4|
|SPECIALIZED_SKILL...|            0|                 0.0|
|              POSTED|            0|                 0.0|
| CERTIFICATIONS_NAME|            0|                 0.0|
| COMPANY_IS_STAFFING|            0|                 0.0|
|  COMMON_SKILLS_NAME|            0|                 0.0|
|EDUCATION_LEVELS_...|            0|                 0.0|
|SOFTWARE_SKILLS_NAME|            0|                 0.0|
|  MIN_EDULEVELS_NAME|            0|                 0.0|
|           ONET_NAME|            0|                 0.0|
|EMPLOYMENT_TYPE_NAME|            0|                 0.0|
|      ONET_2019_NAME|            0|                 0.0|
|MIN_YEARS_EXPERIENCE|            0|                 0.0|
|          SOC_2021_4|            0|                 0.0|
|       IS_INTERNSHIP|            0|                 0.0|
|     SOC_2021_4_NAME|            0|                 0.0|
|              SALARY|            0|                 0.0|
|LOT_CAREER_AREA_NAME|            0|                 0.0|
|    REMOTE_TYPE_NAME|            0|                 0.0|
| LOT_OCCUPATION_NAME|            0|                 0.0|
|           SALARY_TO|            0|                 0.0|
|LOT_SPECIALIZED_O...|            0|                 0.0|
|         SALARY_FROM|            0|                 0.0|
|LOT_OCCUPATION_GR...|            0|                 0.0|
|           CITY_NAME|            0|                 0.0|
|LOT_V6_SPECIALIZE...|            0|                 0.0|
|         COUNTY_NAME|            0|                 0.0|
|   LOT_V6_OCCUPATION|            0|                 0.0|
|          STATE_NAME|            0|                 0.0|
|LOT_V6_OCCUPATION...|            0|                 0.0|
|         NAICS6_NAME|            0|                 0.0|
|LOT_V6_OCCUPATION...|            0|                 0.0|
|         SKILLS_NAME|            0|                 0.0|
|LOT_V6_CAREER_ARE...|            0|                 0.0|
|        NAICS_2022_6|            0|                 0.0|
|   NAICS_2022_6_NAME|            0|                 0.0|
+--------------------+-------------+--------------------+

# **1. Unsupervised Learning**

We selected industry codes (NAICS_2022_6), education level(MIN_EDULEVELS_NAME), minimum years of experience (MIN_YEARS_EXPERIENCE), employment type(EMPLOYMENT_TYPE_NAME), and internship status(IS_INTERNSHIP). 

These features reflect the core requirements and structure of job roles, allowing the KMeans algorithm to identify meaningful clusters across the labor market. 

We intentionally excluded geographic and remote-work attributes so that the resulting clusters represent job-type patterns rather than location-driven differences.

In [77]:
cols = [
    "NAICS_2022_6",
    "MIN_EDULEVELS_NAME",
    "MIN_YEARS_EXPERIENCE",
    "EMPLOYMENT_TYPE_NAME",
    "IS_INTERNSHIP"
]


print(df[cols].dtypes)

[('NAICS_2022_6', 'int'), ('MIN_EDULEVELS_NAME', 'string'), ('MIN_YEARS_EXPERIENCE', 'double'), ('EMPLOYMENT_TYPE_NAME', 'string'), ('IS_INTERNSHIP', 'boolean')]